---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import CodeIcon from "@/components/icons/Code.astro";
import SkillsIcon from "@/components/icons/Skills.astro";
// import ToolsIcon from "@/components/icons/Tools.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import BriefcaseIcon from "@/components/icons/Briefcase.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import Skills from "@/components/Skills.astro";
// import Tools from "@/components/Tools.astro";
import Experience from "@/components/Experience.astro";
---

<Layout
  title="Gixi ~ Fullstack Dev"
  description="Desarrollador de Software Fullstack"
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-purple-300 px-2 sm:px-0"
      >
        <BriefcaseIcon class="size-9" />
        Experiencia
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id="skills">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-purple-300 px-2 sm:px-0"
      >
        <SkillsIcon class="size-9" />
        Tecnologías
      </h2>
      <Skills />
    </SectionContainer>

    <!-- <SectionContainer id="tools">
        <h2
          class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-purple-300 px-2 sm:px-0"
        >
          <ToolsIcon class="size-9" />
          Herramientas
        </h2>
        <Tools />
      </SectionContainer> -->

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-4 text-purple-300 px-2 sm:px-0"
      >
        <ProfileCheck class="size-8" />
        Sobre Mí
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-purple-300 px-2 sm:px-0"
      >
        <CodeIcon class="size-9" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>
  </div>
</Layout>
