<article
  class="flex flex-col items-center justify-start gap-8 text-gray-300 md:flex-row w-full"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-mono text-pretty w-full max-w-[700px] brightness-125 px-4 sm:px-0 text-xl [&>p>strong]:text-purple-400 [&>p>strong]:font-semibold"
  >
    <p>
      <strong>S</strong>oy Gixi, desarrollador fullstack en Argentina con
      experiencia en proyectos freelance y personales<strong>.</strong>
      <strong>M</strong>e apasiona crear productos atractivos, priorizando la
      experiencia del usuario y el rendimiento óptimo<strong>.</strong>
    </p>

    <p>
      <strong>M</strong>e especializo en garantizar la calidad del software a
      través de testing y soluciones innovadoras que realmente marcan la
      diferencia<strong>.</strong>
    </p>
    <p>
      <strong>A</strong>demás del desarrollo, tengo experiencia en diagnóstico y
      reparación de PC, notebooks y celulares, lo que me permite abordar
      problemas tecnológicos de manera integral<strong>.</strong>
    </p>
  </div>
</article>
