<article
  class="flex flex-col items-center justify-start gap-8 text-gray-300 md:flex-row w-full"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-mono text-pretty w-full max-w-[700px] brightness-125 px-4 sm:px-0 text-xl [&>p>strong]:text-purple-400 [&>p>strong]:font-semibold"
  >
    <p>
      <strong>S</strong>oy Gixi, desarrollador fullstack en Argentina con una
      diversa trayectoria en proyectos freelance y personales<strong>.</strong>
      <strong>M</strong>e enfoco en crear productos visualmente atractivos y que
      ofrezcan un óptimo rendimiento<strong>.</strong>
    </p>

    <p>
      <strong>A</strong>seguro el correcto funcionamiento de las aplicaciones a
      través del testing y siempre busco contribuir al desarrollo de soluciones
      innovadoras<strong>.</strong>
    </p>
  </div>
</article>
