<article
  class="flex flex-col items-center justify-start gap-8 text-gray-300 md:flex-row w-full"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-mono text-pretty w-full max-w-[700px] brightness-125 px-4 sm:px-0 text-xl [&>p>strong]:text-purple-400 [&>p>strong]:font-semibold"
  >
    <p>
      <strong>S</strong>oy Gixi, desarrollador fullstack de Argentina<strong
        >.</strong
      >
      <strong>M</strong>e encanta crear cosas: aplicaciones web, programas para
      Windows, CLI's, entre otros<strong>.</strong>
      <strong>T</strong>rabajo tanto en proyectos freelance como en mis propias
      ideas, siempre buscando que el resultado final no solo funcione, sino que
      también se vea increíble<strong>.</strong>
    </p>

    <p>
      <strong>M</strong>e aseguro del correcto funcionamiento mediante testing y
      en encontrar soluciones creativas que realmente sumen<strong>.</strong>
      <strong>P</strong>ara mí, lo importante es que los usuarios disfruten de
      la experiencia y que todo funcione como debe<strong>.</strong>
    </p>
    <p>
      <strong>A</strong>demás del desarrollo, tengo un lado técnico en el que he
      trabajado anteriormente: reparación de PCs y notebooks<strong>.</strong>
      <strong>E</strong>sto me permite tener un conocimiento integral de la
      tecnología<strong>.</strong>
      <strong>C</strong>onsidero que eso me ayuda a tener una visión más
      completa a la hora de resolver problemas<strong>.</strong>
    </p>
  </div>
</article>
