<article
  class="flex flex-col items-center justify-start gap-8 text-gray-300 md:flex-row w-full"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:font-mono text-pretty w-full max-w-[700px] brightness-125 px-4 sm:px-0 text-xl [&>p>strong]:text-purple-400 [&>p>strong]:font-semibold"
  >
    <p>
      <strong>S</strong>oy Gixi, desarrollador fullstack en Argentina<strong
        >.</strong
      >
      <strong>M</strong>e encanta crear soluciones de software eficientes y
      centradas en el usuario<strong>.</strong><strong> D</strong>esde
      aplicaciones web hasta herramientas CLI o programas para Windows, me
      especializo en construir sistemas que resuelvan problemas reales<strong
        >.</strong
      >
    </p>
    <p>
      <strong>T</strong>rabajo tanto en proyectos freelance como en mis propias
      ideas, siempre buscando que el resultado final no solo funcione, sino que
      también se vea increíble<strong>.</strong>
    </p>
    <p>
      <strong>A</strong>demás del desarrollo, mi experiencia en reparación de
      hardware (PCs/notebooks) me brinda un entendimiento integral de la
      tecnología, lo que me permite abordar desafíos con una visión óptima y
      pragmática<strong>.</strong>
    </p>
  </div>
</article>
