---
import Link from "./icons/Link.astro";
---

<ol class="relative mt-16">
  <div
    class="relative mx-12 pb-12 flex flex-col justify-start items-start gap-y-6 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border before:border-violet-200/40 before:rounded-full before:content-[''] before:rounded-b-none"
  >
    <div class="flex flex-col justify-start items-start gap-y-1">
      <span class="text-violet-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <p class="text-2xl font-bold text-violet-100 w-full">
        Freelance Frontend Developer
      </p>

      <a
        href="https://lym.software"
        target="_blank"
        rel="noopener noreferrer"
        class="font-semibold text-lg text-violet-50/90 transition-colors hover:text-violet-50 flex justify-center items-center gap-x-1.5 mb-0.5"
      >
        <Link class="w-3.5 h-3.5" />
        Lym Software
      </a>

      <time class="p-0 m-0 text-sm text-violet-50/90">2024 - Actualmente</time>
    </div>
    <div
      class="relative flex flex-col gap-2 text-[17px] text-pretty text-gray-200 w-full max-w-2xl"
    >
      - Mantenimiento y soporte de interfaces de usuario responsivas y
      accesibles.
      <br />
      - Optimización de rendimiento, mejorando tiempos de carga y eficiencia. <br
      />
      - Integración con APIS para consumo de datos en tiempo real. <br />
      - Desarrollo de aplicaciones móviles con React Native y Expo. <br />
      - Creación de programas de escritorio para Windows usando Tauri y Rust.
    </div>
  </div>
  <div
    class="relative mx-12 pb-12 flex flex-col justify-start items-start gap-y-6 before:absolute before:left-[-35px] before:block before:h-full before:border-l-2 before:border before:border-violet-200/40 before:rounded-full before:content-[''] before:rounded-t-none"
  >
    <div class="flex flex-col justify-start items-start gap-y-1">
      <span class="text-violet-400 -left-[42px] absolute rounded-full text-5xl"
        >&bull;</span
      >

      <p class="text-2xl font-bold text-violet-100 w-full">
        Asistente en mentorías de programación
      </p>
      <p
        class="font-semibold text-lg text-violet-50/90 flex justify-center items-center mb-0.5"
      >
        Instituto local
      </p>

      <time class="p-0 m-0 text-sm text-violet-50/90">2023 - 2024</time>
    </div>

    <div
      class="relative flex flex-col gap-2 text-[17px] text-pretty text-gray-200 w-full max-w-3xl"
    >
      - Guía a estudiantes en sus primeros pasos con HTML, CSS, Tailwind,
      JavaScript y React.<br />- Diseño de ejercicios prácticos y proyectos
      sencillos para reforzar conceptos.<br />- Uso de analogías cotidianas para
      explicar abstracciones técnicas.
    </div>
  </div>
</ol>
