<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 gap-y-2 sm:gap-y-0 flex flex-col-reverse sm:flex-row justify-between items-center"
>
  <span
    class="text-sm text-center sm:text-start text-zinc-200/90 px-2 md:px-0 w-full"
    >Todos los derechos reservados (y los izquierdos también)
  </span>

  <div class="flex justify-start items-center gap-x-4 [&>a]:text-gray-300">
    <a
      href="https://drive.google.com/file/d/15jl55NfIMc1njFPtDyd_oly3SwM26_aQ/view?usp=sharing"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline cursor-pointer hover:text-white">Curriculum</a
    >
    <span class="text-gray-300 cursor-default">~</span><a
      href="https://github.com/gixi404"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline cursor-pointer hover:text-white">Github</a
    ><span class="text-gray-300 cursor-default">~</span>
    <a
      href="mailto:gixi.tsx@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline cursor-pointer hover:text-white">Email</a
    >
  </div>
</footer>
