<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 gap-y-2 sm:gap-y-0 flex flex-col-reverse sm:flex-row justify-between items-center"
>
  <span class="text-sm sm:text-center text-zinc-200/90"
    >Todos los derechos reservados (y los izquierdos también)
  </span>

  <div class="flex justify-start items-center gap-x-4 [&>a]:text-gray-300">
    <!-- <a
      href="https://linkedin.com/in/gixi"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline cursor-pointer hover:text-white">LinkedIn</a
    > -->
    <a
      href="mailto:gixi.tsx@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline cursor-pointer hover:text-white">Email</a
    ><span class="text-gray-300 cursor-default">~</span>
    <a
      href="https://github.com/gixilym"
      target="_blank"
      rel="noopener noreferrer"
      class="hover:underline cursor-pointer hover:text-white">Github</a
    ><span class="text-gray-300 cursor-default">~</span>
    <a
      class="hover:underline cursor-pointer hover:text-white"
      target="_blank"
      rel="noopener noreferrer"
      href="https://www.flaticon.es/icono-gratis/codificacion-web_10148584?term=developer&page=1&position=2&origin=search&related_id=10148584"
      title="desarrollador iconos">Icono creado por Vectorslab</a
    >
  </div>
</footer>
