---
const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/",
  },
  {
    title: "Skills",
    label: "skills",
    url: "/#skills",
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
  },
  {
    title: "Sobre Mí",
    label: "sobre-mi",
    url: "/#sobre-mi",
  },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium text-white rounded-xl justify-center items-center ring-white/10"
  >
    {
      navItems.map(link => (
        <a
          class="relative block px-2 py-2 transition text-lg cursor-pointer"
          aria-label={link.label}
          href={link.url}
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 text-white backdrop-blur-md bg-blue-900 ring-white/10 border-2 border-gray-600/50;
    }
  }
</style>
