---
// import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import MailIcon from "./icons/Mail.astro";
---

<div class="max-w-xl relative">
  <div class="w-full flex flex-col sm:flex-row gap-y-2 sm:gap-y-0 sm:gap-x-10">
    <div class="flex gap-4 mb-4">
      <img
        class="rounded-full shadow-xl object-cover object-center border-2 border-purple-500"
        src="/yo.jpeg"
        alt="imagen de gixi"
        width="130"
        height="130"
      />
    </div>
    <div
      class="flex flex-col items-start justify-center gap-y-2 brightness-125"
    >
      <h1
        class="text-4xl font-normal tracking-tight sm:text-4xl text-white [&>span]:text-purple-400"
      >
        Hola<span>,</span> soy Gixi<span>.</span>
      </h1>
      <h2
        class="text-5xl font-bold tracking-tight bg-gradient-to-r from-purple-400 via-purple-200 to-white bg-clip-text text-transparent"
      >
        Fullstack Dev
      </h2>
    </div>
  </div>

  <p
    class="mt-6 text-xl [&>strong]:font-semibold text-white brightness-125 [&>span]:text-purple-300 text-pretty"
  >
    Especializado en la creación de aplicaciones web <br /> con <span
      class="font-semibold">React</span
    > y su ecosistema<span class="font-bold">. </span>Siempre con el objetivo de
    crear software <span class="font-semibold">útil</span><span
      class="font-bold">.</span
    >
  </p>

  <nav class="flex flex-wrap gap-4 mt-10 items-center justify-start">
    <!-- <a
      href="https://linkedin.com/in/gixi"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      class="bg-blue-500/50 inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-xl border-gray-600 text-white text-md hover:bg-blue-900 hover:bg-blue-500/80 group max-w-fit hover:text-white"
    >
      <LinkedInIcon class="size-5" />
      LinkedIn
    </a> -->
    <a
      href="https://github.com/gixilym"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      class="bg-violet-700/80 inline-flex items-center justify-center gap-2 px-4 py-[5.2px] transition border rounded-xl border-violet-600 text-white text-md hover:bg-violet-600 hover:border-violet-700 group max-w-fit hover:text-white"
    >
      <GitHubIcon class="size-5" />
      Github
    </a>
    <a
      href="mailto:gixi.tsx@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      role="link"
      class="bg-rose-500/70 inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-xl border-rose-500/30 text-white text-md hover:bg-rose-500/90 hover:border-rose-500 group max-w-fit hover:text-white"
    >
      <MailIcon class="size-5" />
      gixi.tsx@gmail.com
    </a>
  </nav>
</div>
