---
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
const PROJECTS = [
  {
    title: "All In",
    description:
      "Ecommerce para un local comercial. Dedicado a la venta de insumos informáticos y servicio técnico.",
    link: "https://allinlujan.com.ar",
    image: "/allin-img.webp",
  },
  {
    title: "The Modding Corner",
    description: "Sitio web dedicado a la venta de consolas modificadas.",
    link: "https://themoddingcorner.com/",
    image: "/tmc-img.webp",
  },
  {
    title: "Algorithmic Market",
    description:
      "Plataforma de educación financiera: incursiona en el mundo del trading y aprende valiosas habilidades.",
    link: "https://algorithmic-market.com",
    image: "/am-img.webp",
  },
];
---

<ul class="flex flex-col gap-y-16 px-4 sm:px-0">
  {
    PROJECTS.map(project => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl">
            <img
              alt="imagen de proyecto"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:group-hover:scale-105 border-2 border-gray-600/50 rounded-xl"
              loading="lazy"
              src={project.image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-100">{project.title}</h3>

          <div class="flex flex-wrap mt-2">
            <div class="mt-2 text-gray-200">{project.description}</div>
            <footer class="flex items-end justify-start mt-4 gap-x-2">
              <LinkButton href={project.link}>
                <Link class="size-4" />
                URL
              </LinkButton>
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</ul>
