---
import CSS from "@/svgs/CSS.astro";
import ExpressJS from "@/svgs/ExpressJS.astro";
import Firebase from "@/svgs/Firebase.astro";
import GIT from "@/svgs/GIT.astro";
import HTML from "@/svgs/HTML.astro";
import JavaScript from "@/svgs/JavaScript.astro";
import NextJS from "@/svgs/NextJS.astro";
import NodeJS from "@/svgs/NodeJS.astro";
import ReactJS from "@/svgs/ReactJS.astro";
import SupaBase from "@/svgs/SupaBase.astro";
import Tailwind from "@/svgs/Tailwind.astro";
import TypeScript from "@/svgs/TypeScript.astro";
import Tauri from "@/svgs/Tauri.astro";
import Playwright from "@/svgs/Playwright.astro";
---

<div
  class="flex flex-wrap justify-start items-center gap-8 mt-8 px-4 sm:px-0 max-w-[700px]"
>
  <div class="w-full flex justify-start items-center gap-8 flex-wrap">
    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <JavaScript />
      <span class="mt-2 text-xs md:text-sm text-white">JavaScript</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <TypeScript />
      <span class="mt-2 text-xs md:text-sm text-white">TypeScript</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <ReactJS />
      <span class="mt-2 text-xs md:text-sm text-white">React</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <NextJS />
      <span class="mt-2 text-xs md:text-sm text-white">Next.js</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <NodeJS />
      <span class="mt-2 text-xs md:text-sm text-white">Node.js</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <ExpressJS />
      <span class="mt-2 text-xs md:text-sm text-white">Express</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <Firebase />
      <span class="mt-2 text-xs md:text-sm text-white">Firebase</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <SupaBase />
      <span class="mt-2 text-xs md:text-sm text-white">Supabase</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <HTML />
      <span class="mt-2 text-xs md:text-sm text-white">HTML</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <CSS />
      <span class="mt-2 text-xs md:text-sm text-white">CSS</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <Tailwind />
      <span class="mt-2 text-xs md:text-sm text-white">Tailwind</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <ReactJS class="p-1.5 md:p-0.5 gap-y-0" />
      <span class="mt-1 text-[9px] md:text-xs text-white">React Native</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <Tauri />
      <span class="mt-2 text-xs md:text-sm text-white">Tauri</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <GIT />
      <span class="mt-2 text-xs md:text-sm text-white">Git</span>
    </div>

    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg md:gap-y-1 w-[85px] h-[85px] md:w-[100px] md:h-[100px] justify-center"
    >
      <Playwright />
      <span class="mt-2 text-xs md:text-sm text-white">Playwright</span>
    </div>
  </div>
</div>
