---
import NextJS from "@/svgs/NextJS.astro";
import ReactJS from "@/svgs/ReactJS.astro";
import Firebase from "@/svgs/Firebase.astro";
import NodeJS from "@/svgs/NodeJS.astro";
import ExpressJS from "@/svgs/ExpressJS.astro";
import JavaScript from "@/svgs/JavaScript.astro";
import TypeScript from "@/svgs/TypeScript.astro";
import Tailwind from "@/svgs/Tailwind.astro";
import CSS from "@/svgs/CSS.astro";
import HTML from "@/svgs/HTML.astro";
---

<div class="flex flex-wrap justify-start items-center gap-10 mt-8 px-4 sm:px-0">
  <NextJS />
  <ReactJS />
  <Firebase />
  <NodeJS />
  <ExpressJS />
  <JavaScript />
  <TypeScript />
  <Tailwind />
  <CSS />
  <HTML />
</div>
