---
import Cloudflare from "@/svgs/Cloudflare.astro";
import Figma from "@/svgs/Figma.astro";
import Github from "@/svgs/Github.astro";
import Notion from "@/svgs/Notion.astro";
import Vercel from "@/svgs/Vercel.astro";
---

<div class="flex flex-wrap justify-start items-center gap-8 mt-8 px-4 sm:px-0">
  <div class="w-full flex justify-start items-center gap-8 flex-wrap">
    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg w-[100px] h-[100px] justify-center"
    >
      <Notion />
      <span class="mt-2 text-sm text-white">Notion</span>
    </div>
    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg w-[100px] h-[100px] justify-center"
    >
      <Github />
      <span class="mt-2 text-sm text-white">Github</span>
    </div>
    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg w-[100px] h-[100px] justify-center"
    >
      <Figma />
      <span class="mt-2 text-sm text-white">Figma</span>
    </div>
    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg w-[100px] h-[100px] justify-center"
    >
      <Cloudflare />
      <span class="mt-2 text-sm text-white">Cloudflare</span>
    </div>
    <div
      class="flex flex-col items-center bg-gray-800 p-4 rounded-lg w-[100px] h-[100px] justify-center"
    >
      <Vercel />
      <span class="mt-2 text-sm text-white">Vercel</span>
    </div>
  </div>
</div>
